# KiCad yedek ve geçici dosyaları
GoraMi-backups/
.history/
*.bak
*-bak
*_bak
*~
*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*.fp-info-cache

# Fabrika üretim çıktıları (İleride üretirsen git'e girmesin)
*.gbr
*.drl
*.pos
*.rpt

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# STM32CubeIDE / CubeMX
software/**/Debug/
software/**/Release/
software/**/MXTmpFiles/
*.launch
*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d
*.su
*.cyclo